/raw_data.csv
/preprocessed_current_data.csv
/test_X.csv
/test_y.csv
/onehot_name_dictionary.json

/preprocessed_future_data.csv
/preprocessed_past_data.csv
/preprocessed_reference_data.csv
/flask_dictionary.json
